* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
    
}

a{
    text-decoration: none;
}

h1{
    font-weight: 600;
    font-size: 80px !important;
    color: #192b59;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;

}

.title-h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;

}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.title-40 {
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.1px;

}

.title-40 span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3.5px;

}




.page-stat .title-h2, .page-screen .title-h2{
    text-align: center;
  
    margin: 0 auto;
}

.page-stat .title-h2 {

    max-width: 500px;

}





.wrap{
    max-width: 1110px;
    margin: 0 auto;
}


.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}

.logo{
    background-image: url(../img/logo.png);
    width: 181px;
    display: block;
    height: 49px;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li{
    padding: 0 20px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}

.btn-primary{
    color: #fff;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: .3s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #1085e4;
    
}


.btn-secondary{
    color: #7e9bae;
    border:1px solid #cbdbe8;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: .3s;
}

.btn-secondary:hover {
    background-color: #fff;
}


.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-weight: 700;
    letter-spacing: 2.5px;
    font-size: 12px;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: .3s;
}

.btn-info:hover {
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
    color: #fff;
}

.btn-free {   
    font-weight: 400;
    padding: 20px 56px;
    letter-spacing: 1.7px;
    
}

.btn-group a+a{
    margin-left: 15px;
}


.screen-img{
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;


}



.list-company{
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
}

.list-company-item {
    display: block;
}

.company-one {
    background-image: url(../img/sponsor-1.png);
    width: 198px;
    height: 59px;
}

.company-two {
    background-image: url(../img/sponsor-2.png);
    width: 200px;
    height: 69px;

}

.company-three {
    background-image: url(../img/sponsor-3.png);
    width: 201px;
    height: 47px;

}

.company-four {
    background-image: url(../img/sponsor-4.png);
    width: 200px;
    height: 69px;
}

.grid{
    display: grid;
    grid-template-areas: 
    "a b c"
    "d b c"
    "d f g"
    "e f g"
    "e h h";
    max-width: 1110px;
    margin: 0 auto;
    grid-gap:35px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
    padding-right: 15px;


}

.grid-title{
    grid-area: a;
}

.grid-item-1{
    grid-area: b;
}

.grid-item-2{
    grid-area: c;
}

.grid-item-3{
    grid-area: d;
}

.grid-item-4{
    grid-area: e;
}

.grid-item-5{
    grid-area: f;
}

.grid-item-6{
    grid-area: g;
}

.grid-text {
    grid-area: h;
}


.grid-name {
    font-size: 14px;
    color:#1085e4;
}
.grid-name span{
    font-size: 16px;
    font-weight: 700;
    color:#192b59;
}


.grid h2{
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    margin-top: 0;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.grid-item{
    text-align: center;
    box-shadow: 0 9px 20px #f0f0f0;
    border-radius: 10px;
    padding: 40px 29px 64px;
}

.grid-item h3{
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: 18px;
}

.grid-item a{
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
     
}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
    height: 92px;
    background-position: center;
}

.grid-icon-1 {
    background-image: url(../img/icon3.png);
   
    width: 73px;
    height: 84px;
}

.grid-icon-2 {
    background-image: url(../img/icon2.png);
    width: 89px;
    height: 85px;
}

.grid-icon-3 {
    background-image: url(../img/icon1.png);
    width: 79px;
    height: 85px;
    
}

.grid-icon-4 {
    background-image: url(../img/icon4.png);
    width: 109px;
    height: 92px;
}

.grid-icon-5 {
    background-image: url(../img/icon5.png);
    width: 85px;
    height: 90px;
}

.grid-icon-6 {
    background-image: url(../img/icon6.png);
    width: 100px;
    height: 87px;
}

.settings-icon{
    background-image: url(../img/software-icon.png);
    display: block;
    width: 117px;
    height: 98px;
    background-repeat: no-repeat;
    background-position: -28px 0;

}

.page-software .title-h2, .page-analytics .title-h2{
    max-width: 766px;
    margin-top: 12px;
    margin-bottom: 26px;
}

.page-software-flex {
    display: flex;
    justify-content: flex-end;
    
}

.page-software-flex>div {
  
        flex-basis: 55%;
}

.page-software-list {
    margin-top: 30px;
    height: 323px;
    overflow: hidden;
    overflow-y: scroll;

}

.page-software-list dt{
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}

.page-software-list dd{
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.8;
}

.software-pic{
    display: block;
    width: 937px;
    height: 986px;
    background-image: url(../img/software-pic.png);
    background-size: 100% 100%;
    background-position: 0 0;
    position: absolute;
    left: -10px;
    bottom: -60px;
}

.page-software-list::-webkit-scrollbar { width: 4px; height: 4px;}
.page-software-list::-webkit-scrollbar-button {  background-color: #1085e4; }
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { height: 50px; background-color: #1085e4; border-radius: 10px;}


.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
}

.list-stat>li{
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom:23px;
    letter-spacing: 0;
}




.content-app {
    width: 55%;
}

.content-app .title-h2{
    margin-bottom: 36px;
}


.video-app {
    position: absolute;
    top: -61px;
    right: -172px;

}

.page-app-text{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4d2dd;
    margin-top: 27px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.page-app-list {
    padding: 0;
    list-style-type: none;
    margin-left: -10px;

}

.page-app-list>li {
    display: inline-block;
}

.page-app-list>li>a {
    background-image: url(../img/app.png);
    display: block;
    background-repeat: no-repeat;
    width: 185px;
    height: 75px;
}
 

.page-app-list>li>a.page-app-android {
    background-position: 0 0;

}

.page-app-list>li>a.page-app-apple {
    background-position: -191px 0;
}


.screen{
    margin-top: 36px;
    margin-bottom: -7px;
}


.object-circle {
    display: block;
    position: absolute;
    left: 0;
   
    background-image: url(../img/circle-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 413px;
    height: 758px;
}
.object-rhombus {
    display: block;
    position: absolute;
    right: 0px;
    margin-top: -300px;
    background-image: url(../img/rhombus-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 569px;
    height: 661px;
}


.intro {
    color: rgba(0,0,0,0.04);
    font-size: 300px;
    font-weight: 900;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 300px;
}





.flex-analytics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.page-analytics-text {
    margin-bottom: 54px;
}

.flex-analytics>div {
    flex-basis: 53%;
}


.page-control-text{
    margin-bottom: 54px;
}

.page-control .wrap>div {
    flex-basis: 53%;
}









.page-clients .title-40,
.page-team .title-40 {
    color: #fff;
}

.page-clients .title-40 span,
.page-team .title-40 span{
    color: #85c8ff;
}




.box-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 83px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.box-price .btn-primary {
    padding: 20px 60px;
}
.box-price-item {
    background-color: #f5faff;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}
.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 17px;
}
.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box-price-item:first-child h3 {
    margin-bottom: 35px;
}
.box-price-item h3 span:first-child {
    color: #000958;
}
.box-price-item h3 span:last-child {
    color: #7b8ab2;
}
.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}
.box-price-item.active h3 {
    color: #fff;
}
.box-price-item.active h3 span:first-child {
    color: #fff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 36px;
    margin-bottom: 63px;
    font-size: 14px;
}
.box-price-item ul>li {
    margin-bottom: 14px;
}
.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
.box-price-item.active::after {
    display: none;
}

.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-subscribe h2{
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.box-subscribe-text {

    font-size: 18px;
    max-width: 437px;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-user input {
    border: 2px solid #3f5cb1;
    border-radius: 45px;
    background-color: transparent;
    padding: 25px 228px 25px 37px;
    display: block;
    width: 100%;
    color: #fff;
}

.box-subscribe-user input:focus, .box-subscribe-user .btn-primary{
    outline: none;
    
}

.box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder          {color:#b1c3ee;}
.box-subscribe-user input:-moz-placeholder           {color:#b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder      {color:#b1c3ee;}

.box-subscribe-user .btn-primary {
    position: absolute;
    top: 9px;
    right: 9px;
    padding: 18px 50px;

}

.box-subscribe-child{
    flex-basis: 49%;

}



.box-clients {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;

}

.box-clients-item {
    background-color: #fff;
    padding: 21px 42px;
    border-radius: 10px;   
    flex-basis: 31.5%;
    font-size: 14px;
    box-shadow: 0 9px 20px #f4f4f4;

}

.box-clients-item .name {
    font-size:22px;
    font-weight: 600;
    color: #000958;
    margin-bottom: 0;
    letter-spacing: -0.6px;
    line-height: 1.1;
}

.box-clients-item .position {
    color: #1085e4;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    letter-spacing: 3px;
}


.box-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.box-clients-item>p{
    margin-bottom: 4px;
}

.box-info>div {
    padding-left: 17px;
}





.box-team {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}


.box-team-item {
    background-color: #fff;
    flex-basis: 31.5%;
    box-shadow: 0 5px 6px #f4f4f4;
    position: relative;
    padding: 193px 31px 42px 31px ;
}

.box-team-item .avatar {
    position: absolute;
    top: -86px;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 288px;
    width: 100%;


}

.box-team-item .position {
    font-size: 14px;
    text-transform: uppercase;
    color: #1a88e1;
    font-weight: 900;
    margin-bottom: 0;
    letter-spacing: 2.1px;

}

.box-team-item .name {
    font-size: 26px;
    color: #192b59;
    font-weight: 600;
    margin-top: 8px;
    letter-spacing: -0.9px;
}

.box-team-item .btn-team span {
    background-image: url(../img/btn-team.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    align-self: center;
}

.box-team-item .btn-more span {
    background-position: -5px -5px;
    width: 20px;
    height: 20px;


}

.box-team-item .btn-more:focus {
    outline: none;
}

.box-team-item .btn-more:hover span {

}


.box-team-item .btn-team{
    background-color: #f3f3f3;
    border-radius: 100%;
    
    width: 50px;
    height: 50px;
    margin: 0 auto;
    transition: 0.3s;
    border: none;
    padding: 0;
    display: flex;

}


.box-team-item .btn-team:hover {
    background-color: #1a88e1;
}

.box-team-item .btn-more:hover span {
    background-position: -4px -30px;
}


.social-team {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}


.box-team-item .btn-fb span {
    background-position: -32px -5px;
    width: 20px;
    height: 20px;
}

.box-team-item .btn-fb:hover span{
    background-position: -32px -29px;
}

.box-team-item .btn-tw span {
    background-position: -52px -5px;
    width: 20px;
    height: 20px;
}


.box-team-item .btn-tw:hover span{
    background-position: -52px -29px;
}


.box-team-item .btn-be span {
    background-position: -80px -5px;
    width: 20px;
    height: 20px;
}


.box-team-item .btn-be:hover span{
    background-position: -82px -29px;

}

.box-team-item .btn-web span {
    background-position: -105px -5px;
    width: 20px;
    height: 20px;
}


.box-team-item .btn-web:hover span{
    background-position: -105px -29px;

}

/* PAGE */

.page-header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}



.page-company {
    background-image: url(../img/bg-company.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;
   
}

.page-stat, .page-screen{
    background-color: #edf6ff;
   
}



.page-stat{
   
    padding: 116px 0 96px 0;
}

.page-plan{
    padding: 81px 0 121px 0;
}

.page-plan,
.page-screen{
   text-align: center;
    
}


.page-screen{
    padding: 116px 0 0 0;
}

.page-grid {
    padding: 134px 0 118px 0;
}

/* CSSMATIC GRADIENT */

.page-subscribe {
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );

    color: #fff;
    padding: 25px 0 28px 0;

}


.page-software {
    padding: 109px 0 156px 0;
    position: relative;
    overflow: hidden;
}

.page-app {
    position: relative;
    padding: 69px 0 82px 0;
}

.page-app .wrap {
   position: relative;
}

.page-analytics {
    background-image: url(../img/bg-analytics.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 0 137px 0;
}


.page-control {
    background-image: url(../img/bg-control.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 117px 0 137px 0;
}

.page-control .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.page-clients{
    position: relative;
    margin-top: 120px;
    padding: 43px 0 100px;
    
}

.page-clients::before {

    content: "";
    background-image: url(../img/vector.svg);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}


.page-team {
    text-align: center;
    background-image: url(../img/bg-team.png);
    background-repeat: no-repeat;
    background-position:  center;
    padding: 82px 0 20px 0;
}
